:host {
  display: flex;
  justify-content: center;
}

.content {
  margin: 50px 0 0 0;
  width: 100%;
  max-width: 600px;
  padding: 16px;
  display: flex;
  justify-content: center;

  mat-form-field {
    width: 100%;
  }
}

.result {
  display: flex;
  align-items: center;
}

.original {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 8px;
}
